doctype
html
  head
    title Ticky Tacky Little Boxes
    link(rel='stylesheet' href='/main.css')
  body
    h1 Little Boxes on the Hillside
    h2 Little boxes made of ticky tacky
    .create
      a(href='/game/create') Start New Game
    .join
      a(href='/game/') Join a game
